# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de Supabase
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=Ni.co0189
SUPABASE_SERVICE_ROLE_KEY=tu-clave-service-role-supabase

# Configuración de la base de datos
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.vmhsbxivyywywfozgixv
DB_PASSWORD=Ni.co0189
DB_POOL_MODE=transaction

# Configuración JWT
JWT_SECRET=tu-jwt-secret-super-seguro-y-unico
JWT_EXPIRES_IN=24h

# Configuración CORS
CORS_ORIGIN=http://localhost:3000,https://tu-frontend-gcp.appspot.com
